
        /* .image-back {
            background-image: url('https://img.freepik.com/free-vector/active-kids-hiking-camping-gear-with-blank-frame-template_1308-32090.jpg?size=626&ext=jpg&ga=GA1.2.20774544.1678902782&semt=ais'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center; 
          } */
